#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgb(241, 241, 241);
  padding: 10px 0px;
  font-weight: 500;
}

#friends-display-link i {
  color: rgb(0, 0, 0, 0.3);
}
